<html>

  <% include ../partials/_head.ejs %>

<body>

  <% include ../partials/_header.ejs %>

  <table class="table" style="table-layout: fixed; width: 100%;">
    <% if (Object.keys(userURLs).length > 0) { %>
      <% for (let shortURL in userURLs) { %>
      <tr> 
        <td><a href="/u/<%=shortURL%>"><b><%= shortURL %></b></a></td>
        <td style="overflow-wrap: break-word;"><%= userURLs[shortURL] %></td>
        <td><a href="/urls/<%=shortURL%>"><button role="button" class="btn btn-warning">Edit</button></a>
        <form style="display: inline-block;"method="POST" action="/urls/<%= shortURL %>/delete?_method=DELETE">
          <button class="btn btn-danger" aria-label="Left Align" name="delete" value="delete" onclick="if (confirm('Are you sure you want to delete this link?') == true) return true; else return false;"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </form>
        </td>
      </tr>
      <% } %>
    <% } %>

  <% include ../partials/_footer.ejs %>

</body>

</html>


